body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  height: 100vh;
  background: linear-gradient(45deg, #574f4f 0%, #b6b6b6 100%);
}



.league-name {
  display: block;
  color: red;
  font-size: 1.47em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
/*margin: 0 20px 5px 20px;*/
text-align: center;
padding: 3px 0;
border-bottom: 1px solid #ccc;
}

.logo {
  height: 96px;
  padding: px;
  margin: 0 auto;
  float: left;
}
.font1{
  font-family: "Roboto", sans-serif;
  color:#ffffff;
  }
body .signature {
  font-style: italic;
  font-size: 12px;
  color: #212121;
  padding-top: 15px;
  transition: all 0.3s ease-in-out;
}


.league-name {
  display: block;
  color: red;
  font-size: 1.47em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
/*margin: 0 20px 5px 20px;*/
text-align: center;
padding: 3px 0;
border-bottom: 1px solid #ccc;
}

.logo {
  height: 96px;
  padding: 0;
  margin: 0 auto;
  float: left;
}
h1 {
  margin: 0;
  padding: 30px 0 0;
  color: #636363;
  font: bold 38px/1.2em Roboto, Arial, sans-serif;
  text-align: center;
}
h1 a, h1 a:hover {
  text-decoration: none;
}
#preds_logo {
  color: red;
}
h1 small {
  color: white;
  padding: 0 10px;
  font: normal 12px/1.2em Roboto, Arial, sans-serif;
  letter-spacing: normal;
}
h2 {
  font: normal 24px Roboto, Arial, sans-serif;
  padding: 8px 0;
  margin: 0;
  /*color:#595959;*/
}
h3 {
  font: normal 50px Roboto, Arial, sans-serif;
  padding: 18px 0 8px;
  margin: 0;
  color: #fdfdfd;
  text-transform: uppercase;
}
h4 {
  font: normal 36px Roboto, Arial, sans-serif;
  padding: 18px 0 8px;
  margin: 0;
  color: #fdfdfd;
}
p {
  margin: 8px 0;
  padding: 0 0 8px 0;
  font: normal 12px/1.8em Roboto, Arial, sans-serif;
}
p.spec {
  color: #595959;
}
a {
  color: #97c950;
  text-decoration: underline;
}
a.rm, a.com {
  padding: 0;
  text-decoration: none;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
  margin: 0;
  padding: 0;
}
.header {
  padding: 0 20px 20px;
}
.header_resize {
  margin: 0 auto;
  width: 970px;
}
.hbg {
  padding: 0;
  background: #97c950;
  margin: 0;
}
.hbg img {
  margin: 0;
}
.hbg div.info {
  text-align: center;
  width: 298px;
  padding: 80px 0 0;
}
.menu_nav {
  margin: 0;
  padding: 30px 0;
  width: 570px;
  float: right;
}
.menu_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu_nav ul li {
  margin: 0;
  padding: 0;
  float: left;
}
.menu_nav ul li a {
  display: block;
  margin: 0 0 0 5px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  background: #ff0000;
}
.content {
  padding: 20px 10px;
  margin: 0 0 20px;
  background: #eaeaea;
}
.mainbar {
  margin: 0;
  padding: 0;
  float: right;
  width: 653px;
}
.mainbar img {
  padding: 4px;
  border: 1px solid #f2f2f1;
  background: #FFF;
}
.mainbar img.fl {
  margin: 4px 16px 4px 0;
  float: left;
}
.mainbar .article {
  margin: 0;
  padding: 10px 15px 5px;
  background: url(images/bg_line.gif) repeat-x bottom;
}
.mainbar .post-data a {
  color: #595959;
}
.mainbar .spec a {
  padding: 7px 0;
}
.mainbar a.com {
  padding-left: 25px;
}
.sidebar {
  margin-top: -430px;
  padding: 0;
  float: left;
  width: 280px;
}
.sidebar .gadget {
  margin: 0;
  padding: 10px 15px;
}
ul.sb_menu, ul.ex_menu {
  margin: 0;
  padding: 0;
  color: #939393;
  list-style: none;
}
ul.sb_menu li, ul.ex_menu li {
  margin: 0;
  background: url(images/bg_line.gif) repeat-x bottom;
}
ul.sb_menu li {
  padding: 4px 0 4px 15px;
}
ul.ex_menu li {
  padding: 4px 0 8px 15px;
}
ul.sb_menu li a, ul.ex_menu li a {
  color: #939393;
  text-decoration: none;
  margin-left: -15px;
  padding-left: 15px;
  background: url(images/menu_link.gif) no-repeat left center;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover, ul.sb_menu li.active a, ul.ex_menu li.active a {
  color: #ff0101;
}
ul.sb_menu li a:hover {
  text-decoration: underline;
}
ul.ex_menu li a:hover {
  text-decoration: underline;
}
.content .mainbar .comment {
  margin: 0;
  padding: 16px 0 0 0;
}
.content .mainbar .comment img.userpic {
  border: 1px solid #dedede;
  margin: 10px 16px 0 0;
  padding: 0;
  float: left;
}
.fbg {
  height: 250px;
  padding: 20px 0;
  background: #eaeaea;
}
.fbg_resize {
  margin: 0 auto;
  padding: 0;
  width: 930px;
}
.fbg img {
  padding: 4px;
  border: 1px solid #cfd2d4;
  background-color: #fff;
}
.fbg .col {
  margin: 0;
  float: left;
  background: url(images/fbg_line.gif) repeat-y right;
}
.fbg .c1 {
  padding: 0 16px 0 0;
  width: 266px;
}
.fbg .c2 {
  padding: 0 16px;
  width: 320px;
}
.fbg .c3 {
  padding: 0 0 0 16px;
  width: 600px;
  background: none;
}
.fbg .c1 img {
  margin: 8px 16px 8px 0;
}
.fbg .c3 img {
  margin: 8px 16px 4px 0;
  float: left;
}

.footer_resize {
  margin: 0 auto;
  padding: 20px 0;
  width: 930px;
}
.footer p {
  margin: 0;
  padding: 4px 0;
  line-height: normal;
}
.footer a {
  color: #959595;
  padding: inherit;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.footer .lf {
  float: left;
}
.footer .rf {
  float: right;
}
ol {
  list-style: none;
}
ol li {
  display: block;
  clear: both;
}
ol li label {
  display: block;
  margin: 0;
  padding: 16px 0 0 0;
}
ol li input.text {
  width: 480px;
  border: 1px solid #c0c0c0;
  margin: 2px 0;
  padding: 5px 2px;
  height: 16px;
  background: #fff;
}
ol li textarea {
  width: 480px;
  border: 1px solid #c0c0c0;
  margin: 2px 0;
  padding: 2px;
  background: #fff;
}
ol li .send {
  margin: 16px 0 0 0;
}
.search span {
  width: 245px;
  display: block;
  background: #FFF;
  height: 29px;
  margin: 0;
  padding: 0;
  border: 1px solid #e7e7e7;
}
.search input#s {
  float: left;
  width: 195px;
  padding: 7px 0 7px 10px;
  margin: 0;
  border: 0;
  background: none;
  color: #afaeae;
  font: normal 12px/15px Roboto, Arial, sans-serif;
}
.search .btn {
  float: left;
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}
.pagenavi {
  clear: both;
  font: normal 13px Roboto, Arial, sans-serif;
  margin: 0 auto;
  text-align: right;
  padding: 15px 10px;
}
.pagenavi a, .pagenavi .current {
  margin-left: 3px;
  padding: 3px 8px;
  text-decoration: none;
  color: #939393;
  background: #FFF;
  border: 1px solid #d9e3cb;
}
.pagenavi a:hover, .pagenavi .current {
  background: #97c950;
  color: #fff;
}
.pagenavi .pages {
  float: left;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clr {
  clear: both;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 0;
  line-height: 0;
  border-bottom: 2px solid grey;
}
.Prediction {
  margin-left: 300px;
  color: black;
  font-size: 200%;
}
.p1 {
  margin-Bottom: 20px;
  margin-top: 20px;
  margin-left: 300px;
  color: black;
  font-size: 125%;
}

body .signature:hover {
  color: white;
}

.navigationWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  
}
.navigationWrapper .logoWrapper {
  display: flex;
}
.navigationWrapper .logoWrapper .stylish {
  font-weight: bold;
}
.navigationWrapper .logoWrapper .logo {
  padding-left: 4px;
  color: #ea4f4c;
}
.navigationWrapper .navigation {
  display: flex;
  list-style-type: none;
}
.navigationWrapper .navigation li {
  opacity: 1;
  list-style-type: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.navigationWrapper .navigation .parent {
  padding: 0 10px;
  cursor: pointer;
}
.navigationWrapper .navigation .parent .link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: white;
}
.navigationWrapper .navigation .parent .link:hover {
  color: #ea4f4c;
}
.navigationWrapper .navigation .parent .link .fa-minus {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  position: absolute;
  left: -16px;
  top: 3px;
}
.navigationWrapper .navigation .parent .link .fa-plus {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.navigationWrapper .navigation .parent .link .fas {
  color: #ea4f4c;
  margin: -2px 4px 0;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
}
.navigationWrapper .navigation .subnavigation {
  display: none;
  list-style-type: none;
  width: 500px;
  position: absolute;
  top: 40%;
  left: 25%;
  margin: auto;
  transition: all 0.3s ease-in-out;
  background-color: #222;
}
.navigationWrapper .navigation .subnavigation li a {
  font-size: 17px;
  padding: 0 5px;
}

.active.parent {
  transform: translate(-40px, -25px);
}
.active.parent .link {
  font-size: 12px;
}
.active.parent .link .fa-minus {
  opacity: 1 !important;
  font-size: 8px;
}
.active.parent .link .fa-plus {
  opacity: 0 !important;
}
.active.parent .subnavigation {
  display: flex;
}

.active#clients .subnavigation {
  transform: translate(-150px, 17px);
}

.active#services .subnavigation {
  transform: translate(-290px, 17px);
}

.invisible {
  opacity: 0 !important;
  transform: translate(50px, 0);
}