<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-color: black; width:100%;">
    <head>
        {% load static %}
        <title>
            InvestEasy
        </title>
        <!-- get the required files from 3rd party sources -->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
            {% comment %} <link href="{% static 'pred_app/css/style.css' %}" rel="stylesheet" type="text/css"/> {% endcomment %}
            <!-- Bootstrap -->
            <link href="{% static 'pred_app/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
                <link href="{% static 'pred_app/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
                    <link href="{% static 'pred_app/css/menusearch.css' %}" rel="stylesheet" type="text/css">
                        <!-- Stylesheet================================================== -->
                        <link href="{% static 'pred_app/css/style1.css' %}" rel="stylesheet" type="text/css">
                            <link href="{% static 'pred_app/css/responsive.css' %}" rel="stylesheet" type="text/css">
                                <script src="{% static 'pred_app/js/modernizr.custom.js' %}" type="text/javascript">
                                </script>
                                <link href="http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300" rel="stylesheet" type="text/css">
                                    <link href="http://fonts.googleapis.com/css?family=Playball" rel="stylesheet" type="text/css">
                                        <script src="{% static 'pred_app/js/jquery.1.11.1.js' %}" type="text/javascript">
                                        </script>
                                        <script src="{% static 'pred_app/js/jquery-1.10.2.min.js' %}" type="text/javascript">
                                        </script>
                                        <script src="{% static 'pred_app/js/handlebars.js' %}">
                                        </script>
                                        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript">
                                        </script>
                                    </link>
                                </link>
                            </link>
                        </link>
                    </link>
                </link>
            </link>
        </link>
    </head>
    <body>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="{% static 'pred_app/js/jquery.1.11.1.js'%}" type="text/javascript">
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'pred_app/js/bootstrap.js'%}" type="text/javascript">
        </script>
        <!-- Javascripts
    ================================================== -->
        <script src="{% static 'pred_app/js/typeahead.js'%}">
        </script>
        <script src="{% static 'pred_app/js/search.js'%}">
        </script>
        <div class="header" style="background-color: rgb(40, 40, 40); color: white;">
            <div class="logo">
                <h1>
                    <a href="index">
                        
                            Invest Easy
                        
                    </a>
                </h1>
            </div>
            <div class="menu_nav">
                <ul>
                    {% block nav %}{% endblock %}
                </ul>
            </div>
            <div class="clr">
            </div>
            
            <div class="clr">
            </div>
        </div>
        {% block content %}{% endblock %}
        <div class="clr">
        </div>
        

